.one{
    background-color:rgb(33, 50, 94);
    height: 10vh;
    width: 100vw;
}
.two{
    background-color:rgb(62, 73, 122);
    height: 10vh;
    width: 100vw;
}
.three{
    background-color:rgb(241, 208, 10);
    height: 10vh;
    width: 100vw;
}
.four{
    background-color:rgb(240, 240, 240);
    height: 10vh;
    width: 100vw;
}
#outerdiv{
    height: 20vh;
    width: 20vw;
    background-color:rgb(255, 242, 249) ;
    border-width: 10px 15px ;
    border-color: indianred;
    border-style: solid;
    margin: auto;
}
#innerdiv{
    height: 10vh;
    width: 10vw;
    background-color: rgb(254, 131, 198);
    margin: auto;
    margin-top: 30px;
    
}
#innerdiv2{
    height: 5vh;
    width: 5vw;
    background-color:rgb(250, 78, 171) ;
    margin: auto;
}
/*  
    1 rem = root element (html)
    if root element = 20px;
    then 1 rem = 20px;
    then 10 rem = 200px;

    we can change size of root element : (in CSS) 

    html{
        font-size = -- px;
    }

*/

#sample-text{
    border-left: 7px  solid red;
    text-transform: uppercase;
    text-decoration: double underline;
    font-weight:900 ; 
    /* value is from 100 to 900 */
}
.para1{
    text-align: center ;
}
.box1{
    background-color: coral;
    height: 20vh;
    width: 20vw;
    margin-left: 145px;
    margin-top: 50px;
}
.box2{
    background-color: cornflowerblue;
    height: 20vh;
    width: 20vw;
    margin: auto;
    /* auto value will place it to centre of page */
}

