*{
    font-family: cursive;
}
h2{
    color: rgb(130, 11, 241);
}
h3{
    color: blueviolet;
}
/* To apply upper case to our text  */
.Uppercase{ 
    text-transform: uppercase;
}
h4>a:hover{
  color: deeppink;  
}
.Image1{
    border-radius: 30%;
    /* object-fit: cover; */
}
.Image2{
    border-radius: 20%;
}